[submodule "rony-ecommerce-angular"]
	path = rony-ecommerce-angular
	url = https://github.com/RonyLiboni/rony-ecommerce-angular.git
	branch = master
[submodule "rony-ecommerce"]
	path = rony-ecommerce
	url = https://github.com/RonyLiboni/rony-ecommerce.git
	branch = master
